
@charset "utf-8";
/* CSS Document */
@font-face {
   font-family: Trebuchet;
   src: url("/file/Font/Trebuchet.ttf");
}
@font-face {
   font-family:Bahnschrift;
   src: url("/file/Font/Bahnschrift.ttf");
}
@font-face {
   font-family: BebasNeue;
   src: url("/file/Font/BebasNeue.otf");
}
@font-face {
   font-family: Raleway-Light;
   src: url("/file/Font/Raleway-Light.ttf");
}
@font-face {
   font-family: Raleway-Medium;
   src: url("/file/Font/Raleway-Medium.ttf");
}
@font-face {
   font-family: FreeHand;
   src: url("/file/Font/FreeHand.ttf");
}
@font-face {
   font-family: SegoeUI;
   src: url("/file/Font/segoeui.ttf");
}

body {
    font-family: Arial, sans-serif; 
    margin:0; 
    background:#f5f5f5; 
}
    
.article { 
    max-width:900px; 
    margin:auto; 
    background:white; 
    padding:20px; 
    border-radius:8px; 
    padding-bottom: 70px;
}
    
.article img { 
    width:80%;
    margin: auto;
    display: block;
    border-radius:8px; 
    margin-bottom:15px; 
}
    
h1 { 
    color:#003366; 
}
    
.meta { 
    font-size:12px; 
    color:#777; 
    margin-bottom:10px; 
}

/* =================================== FOOTER =========================================*/
* {
	box-sizing: border-box;
}
.row{
   margin: auto;
   justify-items: center;
   align-items: center;   
}
.column {
	overflow: hidden;
	float: left;
	padding: 10px;
	color: white;
	height: 260px;
	font-family: Raleway-Medium;
	font-size: 15px;
}
.first{
	width: 22.5%;
   background-color: #0096c7;
} 
.first img {
   width: 100%;
	margin: auto;
    display: block;
}

.second {
 	width: 35%;
	text-align: left;
	background-color: #00b4d8;
	color: white;
}
.second img{
	width: 40px;
	margin-right: 10px;
}

.third {
  width: 20%;
  background-color: #0096c7;
}
.third img {
	width: 40px;
	margin-left: 5px;
	padding-bottom: 20px;
}

.fourth {
	width: 22.5%;
	background-color: #00b4d8;
	padding-bottom: 20px;
	padding-top: 10px;
}
.fourth p {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.fourth img{
	margin: auto;
   display: block;
	width: 100%;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
  .first, .second, .third, .fourth {
	  width: 100%;
	  height: auto;
	}
	.first img{
		width: 70%;
	} .fourth img 
	{
		width: 70%;
	}
}