
body {
    margin: 0;
  font-family: Arial; 
}
.form-box {
  max-width:400px; 
  padding: 20px;
  margin:auto; 
  border-radius:12px; 
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}
input, button {
  width:100%;
  margin: 10px;
  border-radius:6px;
  padding: 20px;
  border:1px solid #ccc;
}
button {
  border:none;
  color:white;
  font-weight:bold;
  cursor:pointer;
}
.login-btn {
  background:#27ae60; 
}
.login-btn:hover { 
background:#219150; 
}
.resend-btn { 
background:#2980b9;
}
.resend-btn:hover {
  background:#21618c;
}