@charset "utf-8";
/* CSS Document */
@font-face {
   font-family: Trebuchet;
   src: url("../file/Font/Trebuchet.ttf");
}
@font-face {
   font-family:Bahnschrift;
   src: url("../file/Font/Bahnschrift.ttf");
}
@font-face {
   font-family: BebasNeue;
   src: url("../file/Font/BebasNeue.otf");
}
@font-face {
   font-family: Raleway-Light;
   src: url("../file/Font/Raleway-Light.ttf");
}
@font-face {
   font-family: Raleway-Medium;
   src: url("../file/Font/Raleway-Medium.ttf");
}
@font-face {
   font-family: FreeHand;
   src: url("../file/Font/FreeHand.ttf");
}
@font-face {
   font-family: SegoeUI;
   src: url("../file/Font/segoeui.ttf");
}
body{
	margin:0;
}

.wrapper
{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url(images/index_pict/kampusupm.jpg);
	background-size: 100% auto;
	font-family: Bahnschrift;
}
.wrapper header
{
	width:100%;
	height: 65px;
	background-color: #1E1E1E;
}
header logo
{
	float: left;
	color: white;
	font-size: 40px;
	padding: 10px;
	font-family:Bahnschrift;
}
header tombol
{
	float:right;
	font-size: 20px;
	color:white;
	padding:20px;
}
.wrapper main table
{
	margin-top: 80px;
	margin-left:25%;
	width:74.5%;
	color: white;
	font-family:Bahnschrift;
}
.wrapper main table c
{
	font-size:30px;	
}
.wrapper main table tr td b
{
	font-size: 65px;
	font-family:Trebuchet;
	line-height:0.5;
}
.wrapper main table tr td span
{
	font-size:20px;
	font-family:Bahnschrift;
}
.wrapper main table tr td span a
{
	text-decoration:underline;
}
.wrapper main table tr td
{
	padding:30px;
}
.wrapper footer
{
	position: fixed;
	bottom: 0;
	width:100%;
	color: white;
	font-family:Bahnschrift;
}
.wrapper footer table
{
	width:100%;
	text-align:center;
	font-size:18px;
	padding-bottom:5px;
	padding-top:10px;
	background-color: #1E1E1E;
}
a
{
	text-decoration:none;
	color:inherit;
	margin-right: 30px;
}
/*---------------------------------------------------------------------------------------------------*/
main input[type=text]
{
	width: 285px;
	height: 30px;
	background: transparent;
	border: 1px solid white;
	color: white;
	font-size: 15px;
	font-weight: 400px;
	padding: 6px;
	margin-top: 10px;
	font-family:Bahnschrift;
}

main input[type=password]
{
	width: 285px;
	height: 30px;
	background: transparent;
	border: 1px solid white;
	color: white;
	font-size: 15px;
	font-weight: 400px;
	padding: 6px;
	margin-top: 10px;
	font-family:Bahnschrift;
}

main input[type=submit]
{
	width: 300px;
	height: 50px;
	background: #2196F0;
	border: none;
	cursor: pointer;
	transition-duration: 0.4s;
	color: white;
	font-size: 20px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	font-family:Bahnschrift;
}

main input[type=submit]:hover{
	opacity: 0.8;
}

main input[type=text]:focus{
	outline: none;
	border: 1px solid #FFC600;
}

main input[type=password]:focus{
	outline: none;
	border: 1px solid #FFC600;
}

main input[type=submit]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}